@import url("menu.css");

@import url("jquery-ui.css");

/**
 * Loads custom fonts
*/
@font-face {
	font-family: 'CronosProSemibold';
	src: url('../../fonts/CronosProSemiBold/cronospro-semibold-webfont.eot');
	src:
		url('../../fonts/CronosProSemiBold/cronospro-semibold-webfont.eot?#iefix')
		format('embedded-opentype'),
		url('../../fonts/CronosProSemiBold/cronospro-semibold-webfont.woff')
		format('woff'),
		url('../../fonts/CronosProSemiBold/cronospro-semibold-webfont.ttf')
		format('truetype'),
		url('../../fonts/CronosProSemiBold/cronospro-semibold-webfont.svg#CronosProSemibold')
		format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Cronos Pro';
	src: url('../../fonts/CronosProRegular/cronosproregular.eot');
	src: url('../../fonts/CronosProRegular/cronosproregular.eot?#iefix')
		format('embedded-opentype'),
		url('../../fonts/CronosProRegular/cronosproregular.woff')
		format('woff'),
		url('../../fonts/CronosProRegular/cronosproregular.ttf')
		format('truetype'),
		url('../../fonts/CronosProRegular/cronosproregular.svg#CronosProRegular')
		format('svg');
	font-weight: normal;
	font-style: normal;
	font-size: 0.9em;
}

/**
 * Site wide styles
 */
* {
	margin: 0;
	padding: 0;
	/*filter:none !important;*/
	outline: none;
}

html {
	overflow-y:scroll;
}
body {
	background: url(../images/bg.jpg) repeat-x top #FFF;
	font-family: 'CronosProSemibold';
	font-size: 0.9em;
	color: #333;
	margin: 20px 0;
}

div {
	filter: none !important;
}

select {
	height: 20px;
	border: 1px solid #CCCCCC;
	font-family: 'CronosProSemibold';
	/*font-family: Calibri;*/
	font-weight:normal;
	font-size: 0.9em;
	color: #333;
}

select option {
	margin: 2px 0 2px 1px;
	/* line-height: 60px;*/
}

input[type=text],textarea {
	border: 1px solid #CCCCCC;
	font-size: 0.9em;
	color: #333;
	padding: 0 0 0 2px;
	margin: 1px 0;
	font-family: 'CronosProSemibold';
	float:left;
}

input[type=password] {
	border: 1px solid #CCCCCC;
	font-size: 0.9em;
	color: #333;
	padding: 0 0 0 2px;
	margin: 1px 0;
}

textarea {
	resize: none;
	height:50px;
}

input[type=radio] {
	color: #333;
	margin: 3px 5px 0 3px;
}

pre {
	font-family: CronosProSemibold;
	padding-left: 3px;
}

input[type=button] {
	font-family: CronosProSemibold;
	font-size: 1em;
	padding-left: 8px;
	padding-right: 8px;
}

h3 {
	font-size: medium;
	color: #426fb3;
	text-transform: uppercase;
	font-weight: bold;
}

fieldset {
	margin: 0 5px;
}

legend {
	margin: 0 5px;
	padding: 0 4px 4px 4px;
	color: #333;
}

/**
 * Wraps the whole container
*/
.wrapper {
	width: 960px;
	margin: 0 auto;
	border: solid 0px #FF0000;
	background: #FFF;
	height: auto;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	box-shadow: 0px 0px 10px #5f5f5f;
	-webkit-box-shadow: 0px 0px 10px #5f5f5f;
	-ms-filter: progid:DXImageTransform.Microsoft.Shadow(    Strength=5,
		Direction=120, Color='#818181' ) !important;
	filter: progid:DXImageTransform.Microsoft.Shadow(    Strength=5,
		Direction=120, Color='#818181' ) !important;
	border-radius: 10px;
}

.header {
	height: 150px;
	background: url(../images/bg-header.png) repeat-x top left #446ab3;
	width: 100%;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.header .left {
	width: 400px;
	height: 70px;
	float: left;
	background: url(../images/mip-logo.png) no-repeat 100% 0%;
	margin: 40px 0 0 20px;
}

.header .right {
	width: 400px;
	height: 181px;
	float: right;
	background: url(../images/tigo-logo.png) no-repeat 100% 0%;
	-webkit-border-top-right-radius: 10px;
	border-top-right-radius: 10px;
	z-index: 3;
	position:relative;
}

.header-border {
	height: 8px;
	width: 960px;
	background: url(../images/header-border.png) #52af3a left top no-repeat;
	z-index: 2;
	position:relative;
}

.footer {
	height: 50px;
	width: 905px;
	background: url(../images/footer-logo.png) no-repeat 98% 0%;
	line-height: 37px;
	color: #798eb1;
	text-align: right;
	padding-right: 55px;
}

/**
 * wraps the content part including menu
*/
.content-wrapper {
	border: solid 0px #FF0000;
	padding: 15px;
	overflow: hidden;
	width: 930px;
	margin: 0px 0 0px 0;
}

.menu-wrapper {
	width: 210px;
	min-height: 300px;
	float: left;
	/*background:#446ab3;*/
}

/**
 * Container for the content box
*/
.content-container {
	width: 700px;
	min-height: 444px;
	float: right;
	border: solid 1px #d3d3d3;
}

.clear {
	clear: both;
	height: 0;
	overflow: hidden;
}

#box {
	background: none repeat scroll 0 0 #ffffff;
	border: 0px solid #b1b1b2;
	display: block;
	padding: 0px;
}

#exportToExcelBtn {
	cursor: hand;
	margin-left: 10px;
	border: 0px none #ffffff;
}

/**
 * page title
*/
.pagetitle {
	background: url(../images/heading-bg.png) repeat-x top;
	height: 42px;
	line-height: 42px;
	text-indent: 15px;
	margin: 0 0 10px;
}

/**
 * Style the data in the table
*/
.data_label {
	width: 170px;
	float: left;
	text-align: left;
}

.data_container_color1 {
	height: 25px;
	padding-left: 10px;
	padding-top: 5px;
	background-color: #d7e5fa;
	margin: 0 5px;
}

.data_container_color2 {
	height: 25px;
	padding-top: 5px;
	padding-left: 10px;
	background-color: #edf4fa;
	margin: 0 5px;
}

.data_text {
	width: 368px;
	float: left;
	vertical-align: center;
}

.table_header {
	background-color: #d7e5fa;
}

/**
 * Add row styles
*/
.mini_table_color1 {
	font-family: Calibri;
	height: 25px;
	padding: 5px 0 0 180px;
	background-color: #d7e5fa;
	margin: 0 5px;
}

.mini_table_color2 {
	font-family: Calibri;
	height: 25px;
	padding: 5px 0 0 180px;
	background-color: #edf4fa;
	margin: 0 5px;
}

.mini_table_th {
	font-family: 'CronosProSemibold';
}

.mini_table_td {
	float: left;
	width: 110px;
	white-space: nowrap;
	/*	text-align: right;*/
}

.mini_table_td img {
	margin: -4px 0 0 0;
	/*padding: 0 0 0 10px;*/
}

.labelTxtBox_color1 {
	font-family: CronosProSemibold;
	background-color: #d7e5fa;
	text-align: right;
}

.labelTxtBox_color2 {
	font-family: CronosProSemibold;
	background-color: #edf4fa;
	text-align: right;
}

.labelTxtBoxLeft_color1 {
	font-family: CronosProSemibold;
	background-color: #d7e5fa;
	text-align: left;
}

.labelTxtBoxLeft_color2 {
	font-family: CronosProSemibold;
	background-color: #edf4fa;
	text-align: left;
}

.mandatoryStar {
	color: black;
	font-family: fantasy;
}

/**
 * Error message styles
*/
.error-div-header {
	height: 30px;
	width: 690px;
	background-image: url(../../images/validation_container_top.png);
	background-repeat: no-repeat;
	margin-left: 7px;
}

.error-div-body {
	width: 690px;
	background-image: url(../../images/validation_container_body.png);
	background-repeat: repeat-y;
	margin-left: 7px;
}

.error-div-footer {
	height: 28px;
	width: 690px;
	background-image: url(../../images/validation_container_bottom.png);
	background-repeat: no-repeat;
	margin-left: 7px;
}

/**
 * style for the search result or listing table
*/
#branchList,#userList,#businessRulesTable,#insuranceCompanyList,#customerDetailsList,#listOffers,#userLeaveList,#custList,#claimList,#customerDetailsList,#customerDeregDetailsList
	{
	margin: 0 0 0 5px;
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

.displayTab {
	margin: 0 0 0 5px;
	border: 1px solid #ccc;
}

/**
 * HOME PAGE
*/
.stat-left {
	width: 420px;
	float: left;
	margin: 0 0 0 10px;
	background: url(../images/bg-home-page.png) no-repeat top right;
}

.stat-right {
	width: 205px;
	float: right;
	margin: 0 10px 0 0;
	background: url(../images/bg-home-page.png) no-repeat top right #f1f1f1;
}

.stat-left,.stat-right {
	border: solid 1px #d1d1d1;
	height: 200px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
}

.stat-left h3,.stat-right h3 {
	font-size: 20px;
	color: #426fb3;
	text-transform: capitalize;
	font-weight: bold;
	text-align: left;
	margin: 10px 0 8px 0;
}

.stat_label {
	float: left;
	margin: 6px 0;
	text-align: left;
	width: 350px;
}

.user-stat {
	border: 0px solid #FF0000;
	float: left;
	height: auto;
	margin: 125px 0 0 15px;
	width: 500px;
	line-height: 18px;
}

/**
 * Login
*/
.login-page-wrapper {
	width: 960px;
	margin: 0 auto;
	border: solid 0px #FF0000;
	background: url(../images/bg-login.png) repeat-x bottom transparent;
	min-height: 200px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	box-shadow: 0px 0px 10px #5f5f5f;
	-webkit-box-shadow: 0px 0px 10px #5f5f5f;
	-ms-filter: progid:DXImageTransform.Microsoft.Shadow(    Strength=5,
		Direction=120, Color='#818181' );
	filter: progid:DXImageTransform.Microsoft.Shadow(    Strength=5,
		Direction=120, Color='#818181' );
	border-radius: 10px;
}

.header-login {
	background: url(../images/header-login.png) no-repeat top;
	height: 173px;
	width: 960px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.footer-line {
	width: 960px;
	background: url(../images/footer-bg-login.png) no-repeat top;
	height: 8px;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-bottom-right-radius: 10px;
	-moz-border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.footer-copyright {
	width: 960px;
	background: url(../images/logo-footer-login.png) no-repeat top left;
	height: 65px;
	line-height: 65px;
	text-indent: 60px;
	color: #798fb0;
}

.login-content {
	width: 960px;
	height: 232px;
	border: solid 0px #FF0000;
	margin: 60px 0;
}

.login-content .left {
	width: 362px;
	height: 132px;
	background: url(../images/logo-mip-login.png) no-repeat;
	float: left;
	margin: 15px 0 0 100px;
}

.login-content .right {
	width: 400px;
	height: 232px;
	background: url(../images/bg-login-field.png) no-repeat;
	float: right;
}

/**
 * Login field
*/
.login-field-wrapper {
	float: left;
	margin: 20px 0 0 55px;
	/*width: 280px;*/
}

.login-field-wrapper .username-field {
	border: solid 0px #FF0000;
	height: 35px;
}

.login-field-wrapper .password-field {
	border: solid 0px #FF0000;
	height: 35px;
}

.login-field-wrapper .buttons {
	border: solid 0px #FF0000;
	height: 35px;
	padding-left: 82px;
}

.login-username {
	width: 80px;
	overflow: hidden;
	float: left;
	line-height: 25px;
}

.login-pswd {
	width: auto;
	overflow: hidden;
	float: left;
	line-height: 25px;
}

.login-pswd input {
	height: 24px;
	width: 200px;
	line-height: 24px;
}

/* Style pertaining to User UID field only. */
.userUid{
	text-transform: uppercase;
}

.error-msg-login {
	margin: 0 0 5px 0;
}

.box1 {
	background-color: #f0f0f0;
	width: 533px;
	height: 50px;
	margin: 0 auto 15px auto;
	padding: 30px;
	border: 1px solid #d7d7d7;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 11px;
	position: absolute;
}

/**
 * Button CSS
*/
.btn-wrapper {
	margin: 0;
	list-style: none;
	border: solid 0px #FF0000;
	overflow: hidden;
	display: inline-block;
}

.btn-wrapper li {
	float: left;
	background: url("../images/round-corner-left.png") no-repeat left top;
	margin: 0;
	padding: 0 0 0 9px;
	border: solid 0px #FF0000;
	cursor: pointer;
	display: inline-block;
}

.btn-wrapper span {
	float: left;
	display: block;
	background: url("../images/round-corner-right.png") no-repeat right top;
	padding: 9px 15px 9px 6px;
	text-decoration: none;
	font-weight: bold;
	color: #FFF;
}

.btn-wrapper span {
	width: auto;
}

.btn-wrapper span {
	float: none;
}

.btn-wrapper li:hover,.btn-wrapper li:hover span {
	background-position: 0% -36px;
}

.btn-wrapper li:hover span {
	background-position: 100% -36px;
}

.btn-wrapper li:active,.btn-wrapper li:active span {
	background-position: 0% -73px;
}

.btn-wrapper li:active span {
	background-position: 100% -73px;
}

/**
 * Display Tag header css
*/
.TR_PUSH_HEADER {
	background: #3a67b0 url(../images/report-header.png) repeat-x top;
	height: 35px;
	text-align: left;
	color: #FFFFFF;
	border-right: 1px solid #CCCCCC;
	padding: 0 0 0 8px;
}

/**
 * Styles for buttons - Calendar, Clear
 */
.calendar-icon, .clear-icon {
	width: 20px; 
	height: 20px; 
	border: solid 0px #FF0000; 
	float: left;
	margin: 0 0 0 5px;
	cursor: pointer;
}
.calendar-icon {
	background: url(../../images/calendar-blue.png) no-repeat;
}
.clear-icon{
	background: url(../../images/clear-red.png) no-repeat 0 2px;	
}

/**
 * Styles for buttons - Add, Delete
 */
.add-icon, .delete-icon {
	border: solid 0px #FF0000;
	height: 20px;
	width: 20px;
	float: left;
	background-position: -2px -4px;
	background-repeat: no-repeat;
	margin: 0 5px 0 0;
	cursor: pointer;
}
.add-icon {
	background-image: url(../../images/add-icon.png);
}
.delete-icon {
	background-image: url(../../images/delete-icon.png);
}

/**
 * Styles for Toggle button.
 */
#slick-toggle{
	background-image: url(../../images/toggle.png);
 	border: solid 0px #FF0000;
 	height: 30px;
 	width: 30px;
 	float: left;
	margin: 0 0 0 5px;
	cursor: pointer;
}

/**
 * Styles for Search button.
 */
#search-icon{
	background-image: url(../../images/search.png);
 	border: solid 0px #FF0000;
 	height: 20px;
 	width: 20px;
 	float: left;
	margin: 0 0 0 10px;
	cursor: pointer;
}

.loading-msg {
	font-family: 'CronosProSemibold';
	font-weight:bold;
	font-size: 0.9em;
}
