<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

	<!-- For assistance related to logback-translator or configuration  -->
	<!-- files in general, please contact the logback user mailing list -->
	<!-- at http://www.qos.ch/mailman/listinfo/logback-user             -->
	<!--                                                                -->
	<!-- For professional support please see                            -->
	<!--    http://www.qos.ch/shop/products/professionalSupport         -->
	<!--                                                                -->
<configuration>

	<!-- <property resource="logback-config.properties" /> -->
	<property file="D:/MIP/LogConfig/logback-config-dashboard.properties" />
	
	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d{[yyyy-dd-MM HH:mm:ss.SSS z]} %p %t [%c] - %m%n</pattern>
		</encoder>
	</appender>
	
	<appender name="fileLogger"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log.dashboard.dir}/${log.dashboard.file}</File>
		<Append>true</Append>
		<encoder>
			<pattern>%d{[yyyy-dd-MM HH:mm:ss.SSS z]} %p %t [%c] - %m%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<maxIndex>5</maxIndex>
			<FileNamePattern>${log.dashboard.dir}/${log.dashboard.file}.%i</FileNamePattern>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>8MB</MaxFileSize>
		</triggeringPolicy>
	</appender>

	<appender name="auditLogger1"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Append>true</Append>
		<File>${log.audit.dir}/${log.audit.file}</File>
		<encoder>
			<pattern>%d{[yyyy-dd-MM HH:mm:ss.SSS z]} %p %t [%c] - %m%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<maxIndex>5</maxIndex>
			<FileNamePattern>${log.audit.dir}/${log.audit.file}.%i</FileNamePattern>
		</rollingPolicy>
		<triggeringPolicy
			class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<MaxFileSize>5MB</MaxFileSize>
		</triggeringPolicy>
	</appender>
	
	<logger name="auditLogger" additivity="false" level="INFO">
		<appender-ref ref="auditLogger1" />
	</logger>
	
	<logger name="org.springframework" level="WARN" />
	<logger name="net.sf.ehcache" level="ERROR" />
	<logger name="org.displaytag" level="WARN" />
	<logger name="org.apache" level="WARN" />
	<logger name="org.hibernate.SQL" level="DEBUG" />
	<logger name="org.acegisecurity" level="WARN" />
	<logger name="org.hibernate" level="WARN" />
	<logger name="org.exolab" level="ERROR" />
	<logger name="org.castor" level="WARN" />
	<logger name="org.directwebremoting" level="ERROR" />
	
	<root level="DEBUG">
		<!--<appender-ref ref="stdout" />-->
		<appender-ref ref="fileLogger" />
	</root>
	
</configuration>
