#backgroundPopup {
	display: none;
	position: fixed;
	_position: absolute; /* hack for internet explorer 6*/
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: #000000 !important;
	opacity:.7 !important;
	filter: alpha(opacity=70) !important;
	border: 1px solid #cecece;
	z-index: 999;
}

#popupContact {
	display: none;
	position: fixed;
	_position: absolute; /* hack for internet explorer 6*/
	/*height: 220px;*/
	width: 300px;
	background: #FFFFFF;
	border: 2px solid #cecece;
	z-index: 1000;
	padding: 12px;
	font-size: 13px;
	overflow:hidden;
}

#popupContact h1 {
	text-align: left;
	color: #3780ce;
	font-size: 22px;
	font-weight: 700;
}

#popupContactClose {
	font-size: 14px;
	line-height: 14px;
	right: 6px;
	top: 4px;
	position: absolute;
	color: #6fa5fd;
	font-weight: 700;
	display: block;
}

#button {
	text-align: center;
	margin: 100px;
}

#contactArea {
	font-size: 18px;
	background-color: #f0fac4;
	text-align: left;
	border-bottom: 1px dotted #D3D3D3;
	border-left: 1px dotted #D3D3D3;
	border-right: 1px dotted #D3D3D3;
	border-top: 1px dotted #D3D3D3;
	padding-bottom: 2px;
	margin-bottom: 20px;
	height: auto;
}

hr {
	border-bottom: 1px dotted #D3D3D3;
	color: #D3D3D3;
}

/*Timeout Popup*/

#sessionBackgroundPopup {
	display: none;
	position: fixed;
	_position: absolute; /* hack for internet explorer 6*/
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: #000000;
	border: 1px solid #cecece;
	z-index: 999;
	opacity:.7 !important;
	filter: alpha(opacity=70) !important;
}

#sessionPopup {
	display: none;
	position: fixed;
	_position: absolute; /* hack for internet explorer 6*/
	/*height: 200px;*/
	width: 380px;
	background: #FFFFFF;
	border: 2px solid #cecece;
	z-index: 1000;
	padding: 12px;
	font-size: 13px;
	overflow:hidden;
}

#sessionPopup h2 {
	text-align: left;
	color: #3780ce;
	font-size: 22px;
	font-weight: 700;
}

#sessionArea {
	font-size: 18px;
	background-color: #f0fac4;
	text-align: left;
	border-bottom: 1px dotted #D3D3D3;
	border-left: 1px dotted #D3D3D3;
	border-right: 1px dotted #D3D3D3;
	border-top: 1px dotted #D3D3D3;
	padding-bottom: 2px;
	margin-bottom: 20px;
	height: auto;
}